Requisitos de la Interfaz

Unity Editor: versión 2022.3.57f1 LTS

Sistema operativo recomendado: Windows 10/11.

Dependencias adicionales: todas las librerías necesarias se gestionan desde el Package Manager de Unity